.calendar-section {
    height: calc(100vh - 128px);
}

.ant-badge.ant-badge-status {
    direction: rtl;
    width: 100%;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
    width: 0;
}

.ant-picker-date-panel {
    max-height: calc(100vh - 268px) !important;
    max-height: calc(100svh - 268px) !important;
    overflow-y: auto !important;
}

thead {
    position: sticky !important;
    top: 0px;
    z-index: 100;
    background-color: var(--bg-color);

    th {
        line-height: 22px !important;
    }
}

.ant-picker-cell:not(.ant-picker-cell-in-view) {
    opacity: 0.4 !important;
    filter: grayscale(10);
}

.calendar-header {
    border-bottom: 1px solid var(--calendar-border-color) !important;
    height: 50px;
    padding: 0 9px;

    .month-select {
        width: 100px !important;
    }
}

.ant-picker-calendar {
    margin: 0 60px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--calendar-border-color);
    border-collapse: collapse;
}

.ant-alert {
    margin: 20px 60px;
    border-radius: 10px;
    height: 50px;
}

.ant-select {
    width: 80px;
}

.event-description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .event-calender-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
