@media (max-width: 950px) {
    .meeting-word {
        display: none !important;
    }

    .main-word {
        white-space: pre-wrap !important;
    }
}

@media (max-width: 768px) {
    body {
        min-width: 320px !important;
    }

    .ant-card.calendar-intro {
        padding: 2px 16px 2px 16px !important;

        .ant-card-body {
            padding: 0 !important;
        }

        .calendar-intro__icon {
            display: none !important;
        }
    }

    .ant-space-item .calendar-intro__title {
        margin-bottom: 0 !important;
    }

    .calendar-intro__content {
        gap: 6px !important;
    }

    .calendar-section {
        height: calc(100vh - 48px) !important;
    }

    .ant-picker-calendar {
        margin: 0 10px 10px !important;
    }

    .ant-picker-calendar-date {
        padding: 2px !important;
        margin: 0 2px !important;

        .ant-badge-not-a-wrapper {
            display: grid;
            grid-template-columns: 6px 1fr;

            .ant-badge-status-text {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center !important;
            }

            .ant-badge-status-success {
                top: 7px !important;
            }
        }
    }

    .ant-alert {
        margin: 10px 10px !important;
    }

    .ant-badge-status-text {
        margin-inline-start: 0 !important;
        margin: 2 !important;
    }

    .ant-float-btn-group.ant-float-btn-group-circle {
        bottom: 16px !important;
        left: 4px !important;
    }

    .fancy-theme-transition {
        bottom: 16px !important;
        left: 15px !important;
    }

    .calendar-event-creator {
        display: none !important;
    }

    h1 {
        font-size: 28px !important;
        height: 62px !important;
    }

    .page-footer {
        font-size: 18px !important;
        height: 48px !important;
    }
}

@media (max-width: 458px) {
    .calendar-header {
        display: flex;
        flex-flow: column-reverse;
        height: 80px !important;
        padding: 7px 9px !important;
    }

    .ant-picker-panel {
        height: calc(100vh - 262px) !important;
    }

    .ant-picker-body th,
    .ant-badge-status-text,
    .ant-picker-calendar-date-value,
    .event-title,
    .ant-btn,
    .ant-select-selection-item,
    .modal-header,
    .ant-input {
        font-size: 12px !important;
    }

    .ant-space-item div.ant-typography,
    a.ant-typography {
        font-size: 13px !important;
    }

    .ant-space-item h4.ant-typography {
        font-size: 22px !important;
    }

    .modal-title {
        font-size: 14px !important;
    }

    .ant-btn {
        height: 28px !important;
        padding: 0px 12px !important;
    }

    .ant-select-selector {
        height: 30px !important;
        padding: 0px 9px !important;
    }

    ::-webkit-scrollbar {
        width: 4px !important;
        height: 4px 1 !important;
    }
}

@media (max-width: 540px) {
    .ant-modal-content {
        padding: 16px 18px !important;

        .announcement-textarea {
            margin-bottom: 0 !important;
        }

        .modal-footer {
            flex-flow: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
    }
}
