:root {
    --bg-color: white;
    --text-color: black;
}

[data-theme="light"] {
    --main-color: white;
    --bg-color: #f7f9fb;
    --text-color: black;
    --footer-bg-color: #dce6f4;
    --thumb-bg-color: #cacaca;
    --calendar-border-color: #afafaf;
    --card-color: #f7f9fb;
    --bg-color-alt: #ffffff;
}

[data-theme="dark"] {
    --main-color: #141414;
    --main-color-alt: #141414;
    --bg-color: #141414;
    --text-color: white;
    --footer-bg-color: #111;
    --thumb-bg-color: #7a7a7a;
    --calendar-border-color: #5a5a5a;
    --card-color: #141414;
    --bg-color-alt: #1e1e1e;
}

.fancy-theme-transition {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    left: 11px;
    border-radius: 50%;
    z-index: 1000;
    animation: fancy-transition 1.2s ease;
}

@keyframes fancy-transition {
    0% {
        outline: 1px solid rgb(0, 0, 0);
    }
    70% {
        outline: solid rgb(0, 0, 0) max(140vw, 140vh);
        outline: solid rgb(0, 0, 0) max(140vw, 140svh);
        opacity: 1;
    }
    99% {
        outline: solid rgb(0, 0, 0) max(140vw, 140vh);
        outline: solid rgb(0, 0, 0) max(140vw, 140svh);
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}
