* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    height: 100vh !important;
    overflow-y: hidden;
    min-width: 780px;
}

.ant-badge.ant-badge-status {
    direction: rtl;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
    width: 0;
}

h1 {
    font-size: 32px;
    text-shadow: 2.5px 0 rgba(98, 0, 255, 0.25), -2.5px 0 rgba(255, 0, 0, 0.25);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-family: sans-serif;
    color: white;
    cursor: default;
    letter-spacing: 0.3px;
}

.header-title {
    margin: 0 8px;
}

.header-ICARUS {
    color: white;
    text-decoration: none;
    transition: color 0.5s 0.3s;
    cursor: default;

    &:hover {
        transition: color 0.15s;
        color: rgb(131, 135, 255);
    }
}

.ant-picker-date-panel {
    max-height: calc(100vh - 268px) !important;
    overflow-y: auto !important;
}

thead {
    position: sticky !important;
    top: 0px;
    z-index: 100;
    background-color: #141414;

    th {
        line-height: 22px !important;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
        background-color: #141414;
    }

    &-thumb {
        background-color: #7a7a7a;
        border-radius: 10px;

        &:hover {
            background-color: rgb(155, 155, 155);
        }
    }
}

.ant-picker-cell:not(.ant-picker-cell-in-view) {
    opacity: 0.4 !important;
    filter: grayscale(10);
}

.calendar-header {
    border-bottom: 1px solid #5a5a5a !important;
    height: 50px;
    padding: 0 9px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 21px;
}

.ant-picker-calendar {
    margin: 0 20px;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #5a5a5a;
    border-collapse: collapse;
}

.ant-alert {
    margin: 20px 20px;
    border-radius: 10px;
    height: 50px;
}

.ant-select {
    width: 80px;
}
