@import "./fonts/Vazirmatn/fonts.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.25s, color 0.25s !important;
    font-family: "Vazirmatn" !important;
}

:root {
    --bg-color: #141414;
    --text-color: white;
}

[data-theme="light"] {
    --bg-color: white;
    --text-color: black;
    --footer-bg-color: #dce6f4;
    --thumb-bg-color: #cacaca;
    --calendar-border-color: #afafaf;
}

[data-theme="dark"] {
    --bg-color: #141414;
    --text-color: white;
    --footer-bg-color: #111;
    --thumb-bg-color: #7a7a7a;
    --calendar-border-color: #5a5a5a;
}

body {
    height: 100vh !important;
    overflow-y: hidden;
    min-width: 780px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.ant-badge.ant-badge-status {
    direction: rtl;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
    width: 0;
}

h1 {
    font-size: 32px;
    text-shadow: 1.5px 0 rgba(98, 0, 255, 0.25), -1.5px 0 rgba(255, 0, 0, 0.25);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-family: sans-serif;
    color: var(--text-color);
    cursor: default;
    letter-spacing: 0.3px;
}

.header-title {
    margin: 0 8px;
}

.header-ICARUS {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.5s 0.3s;
    cursor: default;

    &:hover {
        transition: color 0.15s;
        color: rgb(131, 135, 255);
    }
}

.ant-picker-date-panel {
    max-height: calc(100vh - 268px) !important;
    overflow-y: auto !important;
}

thead {
    position: sticky !important;
    top: 0px;
    z-index: 100;
    background-color: var(--bg-color);

    th {
        line-height: 22px !important;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
        background-color: var(--bg-color);
    }

    &-thumb {
        background-color: var(--thumb-bg-color);
        border-radius: 10px;

        &:hover {
            background-color: rgb(155, 155, 155);
        }
    }
}

.ant-picker-cell:not(.ant-picker-cell-in-view) {
    opacity: 0.4 !important;
    filter: grayscale(10);
}

.calendar-header {
    border-bottom: 1px solid var(--calendar-border-color) !important;
    height: 50px;
    padding: 0 9px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-bg-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-size: 24px;
    color: var(--text-color);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 21px;
}

.ant-picker-calendar {
    margin: 0 60px;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid var(--calendar-border-color);
    border-collapse: collapse;
}

.ant-alert {
    margin: 20px 60px;
    border-radius: 10px;
    height: 50px;
}

.ant-select {
    width: 80px;
}

.ant-float-btn-group {
    left: calc(-100% + 86px) !important;
    bottom: 80px !important;
}

.ant-float-btn-body {
    z-index: 2000;
}

.fancy-theme-transition {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    left: 11px;
    border-radius: 50%;
    z-index: 1000;
    animation: fancy-transition 1.2s ease;
}

@keyframes fancy-transition {
    0% {
        outline: 1px solid rgb(0, 0, 0);
    }
    70% {
        outline: solid rgb(0, 0, 0) max(140vw, 140vh);
        opacity: 1;
    }
    99% {
        outline: solid rgb(0, 0, 0) max(140vw, 140vh);
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}

.loading-spinner {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.modal-title {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.announcement-textarea {
    margin-bottom: 8px;
}

.Toastify__toast {
    background-color: var(--bg-color);
    color: var(--text-color);
}
